body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:54px;
  background:inherit;
  background-color:rgba(60, 141, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
  text-align:left;
}
#u13981 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:54px;
  font-size:16px;
  color:#0066FF;
  text-align:left;
}
#u13982 {
  position:absolute;
  left:2px;
  top:19px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13983 {
  position:absolute;
  left:1151px;
  top:19px;
  width:81px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u13984 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13985 {
  position:absolute;
  left:1248px;
  top:13px;
  width:63px;
  height:28px;
}
#u13986 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
}
#u13987 {
  position:absolute;
  left:18px;
  top:9px;
  width:112px;
  height:36px;
}
#u13988 {
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13989 {
  position:absolute;
  left:269px;
  top:98px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13990 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13991 {
  position:absolute;
  left:646px;
  top:716px;
  width:74px;
  height:40px;
}
#u13992 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u13993 {
  position:absolute;
  left:269px;
  top:382px;
  width:889px;
  height:76px;
}
#u13994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:71px;
}
#u13994 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u13995 {
  position:absolute;
  left:2px;
  top:28px;
  width:217px;
  word-wrap:break-word;
}
#u13996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:71px;
}
#u13996 {
  position:absolute;
  left:221px;
  top:0px;
  width:663px;
  height:71px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u13997 {
  position:absolute;
  left:2px;
  top:12px;
  width:659px;
  word-wrap:break-word;
}
#u13999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u13999 {
  position:absolute;
  left:0px;
  top:795px;
  width:1366px;
  height:54px;
  font-size:16px;
  color:#0066FF;
}
#u14000 {
  position:absolute;
  left:2px;
  top:18px;
  width:1362px;
  word-wrap:break-word;
}
#u14001 {
  position:absolute;
  left:269px;
  top:290px;
  width:889px;
  height:76px;
}
#u14002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:71px;
}
#u14002 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:71px;
  text-align:left;
}
#u14003 {
  position:absolute;
  left:2px;
  top:20px;
  width:217px;
  word-wrap:break-word;
}
#u14004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:71px;
}
#u14004 {
  position:absolute;
  left:221px;
  top:0px;
  width:503px;
  height:71px;
  text-align:left;
}
#u14005 {
  position:absolute;
  left:2px;
  top:12px;
  width:499px;
  word-wrap:break-word;
}
#u14006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:71px;
}
#u14006 {
  position:absolute;
  left:724px;
  top:0px;
  width:160px;
  height:71px;
  text-align:left;
}
#u14007 {
  position:absolute;
  left:2px;
  top:28px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14008 {
  position:absolute;
  left:269px;
  top:258px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14010 {
  position:absolute;
  left:1007px;
  top:301px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u14012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14012 {
  position:absolute;
  left:458px;
  top:251px;
  width:428px;
  height:33px;
}
#u14013 {
  position:absolute;
  left:10px;
  top:10px;
  width:408px;
  word-wrap:break-word;
}
#u14014_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:35px;
}
#u14014 {
  position:absolute;
  left:536px;
  top:278px;
  width:5px;
  height:20px;
}
#u14015 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14016 {
  position:absolute;
  left:269px;
  top:129px;
  width:889px;
  height:125px;
}
#u14017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u14018 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u14019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u14019 {
  position:absolute;
  left:108px;
  top:0px;
  width:334px;
  height:30px;
}
#u14020 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u14021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u14021 {
  position:absolute;
  left:442px;
  top:0px;
  width:102px;
  height:30px;
}
#u14022 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u14023 {
  position:absolute;
  left:544px;
  top:0px;
  width:340px;
  height:30px;
}
#u14024 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u14025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u14025 {
  position:absolute;
  left:0px;
  top:30px;
  width:108px;
  height:30px;
}
#u14026 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u14027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u14027 {
  position:absolute;
  left:108px;
  top:30px;
  width:334px;
  height:30px;
}
#u14028 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u14029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u14029 {
  position:absolute;
  left:442px;
  top:30px;
  width:102px;
  height:30px;
}
#u14030 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u14031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u14031 {
  position:absolute;
  left:544px;
  top:30px;
  width:340px;
  height:30px;
}
#u14032 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u14033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u14033 {
  position:absolute;
  left:0px;
  top:60px;
  width:108px;
  height:30px;
}
#u14034 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u14035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u14035 {
  position:absolute;
  left:108px;
  top:60px;
  width:334px;
  height:30px;
}
#u14036 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u14037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u14037 {
  position:absolute;
  left:442px;
  top:60px;
  width:102px;
  height:30px;
}
#u14038 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u14039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u14039 {
  position:absolute;
  left:544px;
  top:60px;
  width:340px;
  height:30px;
}
#u14040 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u14041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u14041 {
  position:absolute;
  left:0px;
  top:90px;
  width:108px;
  height:30px;
}
#u14042 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u14043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u14043 {
  position:absolute;
  left:108px;
  top:90px;
  width:334px;
  height:30px;
}
#u14044 {
  position:absolute;
  left:2px;
  top:7px;
  width:330px;
  word-wrap:break-word;
}
#u14045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u14045 {
  position:absolute;
  left:442px;
  top:90px;
  width:102px;
  height:30px;
}
#u14046 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u14047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u14047 {
  position:absolute;
  left:544px;
  top:90px;
  width:340px;
  height:30px;
}
#u14048 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u14049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14049 {
  position:absolute;
  left:490px;
  top:361px;
  width:202px;
  height:45px;
}
#u14050 {
  position:absolute;
  left:10px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
